@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}
<div class="row">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col">
        <div class="vertical-center float-right">
            <a asp-page="/CreateRecipe" class="btn btn-primary" role="button">New Recipe</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Recipes[0].Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Recipes[0].User)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td>
                    <a asp-page="/RecipeDetails" asp-route-id="@recipe.RecipeId">
                        @Html.DisplayFor(model => recipe.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => recipe.User.FullName)
                </td>
            </tr>
        }
    </tbody>

</table>